<header>
    <div class="container-fluid top-sec">
        <div class="container">
            <div class="pull-left">
                <div class="top-contact-sec">
                  <ul>
                    <li><img src="assets/img/envelope.png" class="img-fluid" /> <span><a href="#">support@travel.com</a></span></li>
                    <li><img src="assets/img/smartphone.png" class="img-fluid" /> <span><a href="#">+101-1231-1231</a></span></li>
                  </ul>
                </div>
            </div>
            <div class="pull-right top-right-sec">                          
                <span id="inlineSec" class="top-soical-sec">
                    <ul>
                      <li><a href="#" mat-button><li><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" mat-button><li><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#" mat-button><li><i class="fa fa-pinterest-p"></i></a></li>
                      <li><a href="#" mat-button><li><i class="fa fa-skype"></i></a></li>
                      <li><a href="#" mat-button><li><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </span>
                <span id="inlineSec" class="myaccount-sec">
                    <a href="#" mat-button>MY ACCOUNT </a>
                </span>
            </div>
        </div>
    </div>
    <main-navbar></main-navbar>
   
  </header>
  