<footer class="container-fluid footer-sec">
  <div class="container">
     <div class="row">
       <div class="col-lg-3 col-md-6 col-sm-6">
           <h3 class="footer-heading">Contact information</h3>
           <div class="footer-contact-sec">
               <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
               <div class="contact-mail-sec">
                   <img src="assets/img/envelope.png" class="img-fluid" />
                   <p>info@travelapp.com</p>
               </div>
               <div class="contact-mail-sec">
                   <img src="assets/img/smartphone.png" class="img-fluid" />
                   <p>P: 0123 456 789</p>
               </div>
               <div class="contact-mail-sec">
                 <img src="assets/img/map2.png" class="img-fluid" />
                 <p>34 Barnard St - Suite 111 United States</p>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6">
          <h3 class="footer-heading">Recent News</h3>
          <div class="recent-news-sec">
            <ul>
               <li>
                 <h4>The towns where travellers lose track of time</h4>
                 <p>September 05-2016</p>
               </li>
               <li>
                 <h4>Mother City markets: where to shop ’til you drop in Cape Town</h4>
                 <p>May 30-2016</p>
              </li>
              <li>
                 <h4>10 dos and don’ts for social media-savvy travelers</h4>
                  <p>May 26-2016</p>
               </li>
           </ul>
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6 ">
          <h3 class="footer-heading">Useful Links</h3>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <div class="link-sec">
                <ul>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Safety</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Travel Picks</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Mobile</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Why Host</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Social</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Help Topics</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <div class="link-sec">
                <ul>
                  <li><a href="#"><i class="fa fa-caret-right"></i> About</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Latest Job</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Press</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Blog Posts</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Contact</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i> Site Map</a></li>
                </ul>
              </div>
            </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6">
         <h3 class="footer-heading">Mailing List</h3>
         <div class="mailing-list-sec">
           <p>Enter your email address for our mailing list to keep yourself updated.</p>
           <div class="input-group mb-3">
               <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
               <div class="input-group-append">
                 <button class="btn" type="button">DONE</button>
               </div>
             </div>
             <div class="footer-social-icn">
                 <ul>
                     <li><a href="#" mat-button><li><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#" mat-button><li><i class="fa fa-facebook"></i></a></li>
                     <li><a href="#" mat-button><li><i class="fa fa-pinterest-p"></i></a></li>
                     <li><a href="#" mat-button><li><i class="fa fa-skype"></i></a></li>
                     <li><a href="#" mat-button><li><i class="fa fa-instagram"></i></a></li>
                   </ul>
             </div>
         </div>
      </div>
   </div>
 </div>
</footer>
