<section class="container-fluid tp-container-sec">
    <div class="container"> 
        <div class="text-center tp-head-sec">
            <h3>All our...<span>Popular tours</span></h3>
            <p>Curabitur nunc erat, consequat in erat ut congue bibendum nulla pharetra lacus et hendrerit mi.</p>
            <img src="assets/img/heading-image.png" class="img-fluid">
        </div>

       <div class="tour-package-sec">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="tour-sec">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                            <img src="/assets/img/tour-1.png" class="img-fluid">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    
                    <div class="tp-content-sec">
                        <h3>4-Days Tour RIO DE JANEIRO(Brazil)</h3>                        
                        <div class="package-sec">
                            <p><img src="assets/img/map.png" class="img-fluid" /> <span>Brazil</span></p>
                            <p><img src="assets/img/clock.png" class="img-fluid" /> <span>4 days - 3 Nights</span></p>
                        </div>
                        <div class="price-sec ">
                            <p>418,50$</p>
                        </div>
                    </div>    
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="tour-sec">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="/assets/img/tour-2.png" class="img-fluid">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="tp-content-sec">
                        <h3>2-Day Tour of PARIS(England) </h3>
                        <div class="package-sec">
                            <p><img src="assets/img/map.png" class="img-fluid" /> <span>Paris / England</span></p>
                            <p><img src="assets/img/clock.png" class="img-fluid" /> <span>4 days - 3 Nights</span></p>
                        </div>
                        <div class="price-sec">
                            <p>418,50$</p>
                        </div>
                    </div>    
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="tour-sec">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="/assets/img/tour-3.png" class="img-fluid">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="tp-content-sec">
                        <h3>3-Day Tour of SOUTH INDIA(India)</h3>
                        <div class="package-sec">
                            <p><img src="assets/img/map.png" class="img-fluid" /> <span>South India</span></p>
                            <p><img src="assets/img/clock.png" class="img-fluid" /> <span>4 days - 3 Nights</span></p>
                        </div>
                        <div class="price-sec">
                            <p>418,50$</p>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="tour-sec">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="/assets/img/tour-4.png" class="img-fluid">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="tp-content-sec">
                        <h3>5 days Tour NAIL ISLAND(Andaman) </h3>
                        <div class="package-sec">
                            <p><img src="assets/img/map.png" class="img-fluid" /> <span>Andaman</span></p>
                            <p><img src="assets/img/clock.png" class="img-fluid" /> <span>4 days - 3 Nights</span></p>
                        </div>
                        <div class="price-sec">
                            <p>418,50$</p>
                        </div>
                    </div>    
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="tour-sec">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="/assets/img/tour-5.png" class="img-fluid">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>                    
                    <div class="tp-content-sec">
                        <h3>6 Days Tour of MAURITIUS(Indiana)</h3>
                        <div class="package-sec">
                            <p><img src="assets/img/map.png" class="img-fluid" /> <span>Mauritius / India</span></p>
                            <p><img src="assets/img/clock.png" class="img-fluid" /> <span>4 days - 3 Nights</span></p>
                        </div>
                        <div class="price-sec">
                            <p>418,50$</p>
                        </div>
                    </div>    
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="tour-sec">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="/assets/img/tour-6.png" class="img-fluid">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="tp-content-sec">
                        <h3>2-Day THE GREAT WALL(China) </h3>
                        <div class="package-sec">
                            <p><img src="assets/img/map.png" class="img-fluid" /> <span>China</span></p>
                            <p><img src="assets/img/clock.png" class="img-fluid" /> <span>4 days - 3 Nights</span></p>
                        </div>
                        <div class="price-sec">
                            <p>418,50$</p>
                        </div>
                     </div>   
                  </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>