<div class="container-fluid about-us-sec">
  <div class="container">
      <div class="page-title">
          <h3>About Us</h3>
          <p>Listing our tour with multiple concept layouts</p>
      </div>
  </div>
</div>
<div class="container-fluid intro-sec">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          <div class="about-content-sec">
              <div class="intro-heading">INTRODUCTION</div>
              <h3>WE ARE A TRAVEL AGENCY</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
              <div class="contact-us-btn">
                <button type="button" class="btn btn-cyan waves-light" mdbWavesEffect > Contact us</button>
              </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="about-us-img-sec">
              <img src="/assets/img/about-us.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid booking-container-sec">
  <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">
          <div class="booking-sec view hm-white-slight waves-light" mdbWavesEffect>
              <i class="fa fa-anchor theme-bg"></i>
              <h3>BOOKING TOURS</h3>
              <p>Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos.</p>
              <p class="dots">
                <span></span>
                <span></span>
                <span></span>
              </p>
              <a>
                  <div class="mask"></div>
              </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">
          <div class="booking-sec view hm-white-slight waves-light" mdbWavesEffect>
              <i class="fa fa-cogs theme-bg"></i>
              <h3>BOOKING HOTELS</h3>
              <p>Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos.</p>
              <p class="dots">
                <span></span>
                <span></span>
                <span></span>
              </p>
              <a>
                  <div class="mask"></div>
              </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">
          <div class="booking-sec view hm-white-slight waves-light" mdbWavesEffect>
              <i class="fa fa-magic theme-bg"></i>
              <h3>BOOKING FLIGHTS</h3>
              <p>Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos.</p>
              <p class="dots">
                <span></span>
                <span></span>
                <span></span>
              </p>
              <a>
                  <div class="mask"></div>
              </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12">
          <div class="booking-sec view hm-white-slight waves-light" mdbWavesEffect>
              <i class="fa fa-flag-o theme-bg"></i>
              <h3>RENT A CAR</h3>
              <p>Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos.</p>
              <p class="dots">
                <span></span>
                <span></span>
                <span></span>
              </p>
              <a>
                  <div class="mask"></div>
              </a>
          </div>
        </div>
      </div>
  </div>
</div>