
<section class="container-fluid video-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="video-content-sec">
                    <div class="video-icn-sec view hm-white-slight waves-light" mdbWavesEffect>
                        <i class="fa fa-play-circle"></i>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <h3>We hired to organise our business online, simplify our process, create a brand that communicated to our demographic clearly, and increase our sales. We recommend the team!</h3>
                    <p>DANIEL NGUYEN. AISA TRAVELLER</p>
                </div>
            </div>
        </div>
    </div>        
</section>

